<%- include('../templates/header.ejs') %>
<%- include('../templates/nav.ejs') %>

<div class="container">
    <div class="row main">
    
      <h1>About</h1>
 <p>Welcome to Capacity Bay, Inc., the practical and hands-on eLearning platform and organization established to revolutionize learning and workforce development training for U. S. Veterans, transitioning service members, New Americans, immigrants, refugees as well as others in areas of substantial unemployment and technology deprived communities such as sub-Sahara Africa and other parts of the world. We also provide integrated IT consulting services for individuals, businesses and government agencies.</p>
    </div>
</div>
    
 

 
<%- include('../templates/footer.ejs') %>
 