<form action="/compose" method="post">

    <label for="title" style="font-weight: bolder;">Title</label><br>
    <input type="text" id="title" size="70" required autofocus name="postTitle" value=""><br><br>

    <label for="txt" style="font-weight: bolder;">Body</label><br>
    <textarea name="postBody" id="txt" cols="70" rows="10" name="postBody"></textarea><br><br>

    <button type="submit">Publish</button>
</form>