<%- include('../templates/header.ejs') %>
    <%- include('../templates/nav.ejs') %>

        <main>
            <div class="container">
                <div class="row main">
                    <h1>Contact</h1>
                    <p>CapacityBay Inc., is a US-based not-for-profit practical and hands-on information technology
                        training and workforce development institution with headquarters in Baldmore City, Maryland, USA
                        and an Africa regional office in Lagos, Nigeria.</p>

                </div>
            </div>
        </main>




        <%- include('../templates/footer.ejs') %>