<%- include('../templates/header.ejs') %>
<%- include('../templates/nav.ejs') %>

    <!-- <main> -->
        <div class="container">
            <div class="row main">
            <h1>Home</h1>
            <p>The mission of CapacityBay Inc is simple: build the capacity of U.S veterans, transitioning service members, New Americans, immigrants, refugees as well as others living in areas or substantial unemployment and technology deprived communities such as sub-Sahara Africa and other parts of the world.</p>
             
            </div>
        </div>
        

        
    <!-- </main> -->
    
    

<%- include('../templates/footer.ejs') %>



