*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.main{
    
    width: 60%;
    margin: 50px auto;
}

.nav-bar{
    background-color: rgb(240, 247, 247);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.nav-bar .header{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
   
}

a{
    text-decoration: none;
    color: black;
}

footer{
    width: 100%;
    height: 50px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
span{
    color: red;
    font-size: 30px;
}
@media screen and (max-width: 425px) {
   
     .nav-bar{
        width: 100%;

    }
    .main{
    
        width: 80%;
        padding: 5px 15px;
        
    }
    .main h1{
        font-size: 20px;
    }
    .nav-bar .header{
    
     width: 50%;
     font-size: 14px;
 }
 h1{
     font-size: 16px;
 }
    
}
@media screen and (max-width: 375px) {
   body{
       width: 100%;
   }
    .nav-bar{
       width: 100%;
   }
   .main{
       width: 80%;
       padding: 5px 10px;
       
   }
   .main h1{
       font-size: 20px;
   }
   .nav-bar .header{
    
    width: 50%;
    font-size: 10px;
}
h1{
    font-size: 16px;
}
}
@media screen and (max-width: 320px) {
    body{
        width: 100%;
    }
     .nav-bar{
        width: 100%;
    }
    .main{
        width: 80%;
        padding: 5px 10px;
        
    }
    .main h1{
        font-size: 20px;
    }
    .nav-bar .header{
     
     width: 50%;
     font-size: 10px;
 }
 h1{
     font-size: 16px;
 }
     
}