<!-- <nav class="navbar">
    <div class="daily">
        <h1>Daily Journal</h1>
    </div>
    
    <div class="header">
        <h3><a href="/">Home</a></h3>
        <h3><a href="/about">About Us</a> </h3>
        <h3><a href="/contact">Contact Us</a> </h3>
    </div>
</nav> -->

<nav class="navbar bg-light">
    <div class="container-fluid nav-bar">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <h1>Daily Journal</h1>
        
    
        <div class="header">
            <h3><a href="/">Home</a></h3>
            <h3><a href="/about">About Us</a> </h3>
            <h3><a href="/contact">Contact Us</a> </h3>
        </div>
      
    </div>
  </nav>